@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300");

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
	background: url('../images/bgbg.gif') center center / cover no-repeat; /* Added background gif from mobile to the whole class */
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	background: url('https://i.imgur.com/fv8qbW7.gif');
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('https://i.imgur.com/fv8qbW7.gif') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

body {
  padding-top: 80px;
    color: #333;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: 300;
    line-height: 1.05;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    background: #4b4b4b;
}

/* Main */

#main {
		position: relative;
		max-width: 100%;
		min-width: 27em;
		padding: 3em 3em 0.5em 3em ;
		background: rgba(255, 255, 255, 0.8);
		border-radius: 40px;
		cursor: default;
		opacity: 0.875;
		text-align: center;
}

#main .volButtons {
		position: absolute;
		z-index: 2;
}

#main .avatar {
			position: relative;
			display: block;
			margin-bottom: 1em;
		}

			#main .avatar img {
				display: block;
				margin: 0 auto;
				border-radius: 15%;
				box-shadow: 0 0 0 1.5em rgba(255, 255, 255, 0.0);
        height: auto; 
        width: auto; 
        max-width: 300px; 
        max-height: 300px;
        opacity: 1.05;
			}

#main .avatar:before {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: -3em;
				width: calc(100% + 6em);
				height: 1px;
				z-index: -1;
				background: #c8cccf;
			}

#main .profileicons {
        margin: 0;
        padding-left: 0px;
}

/* Footer */

#footer {
		align-self: flex-end;
		width: 100%;
		padding: 1.5em 0 0 0;
		color: rgba(255, 255, 255, 0.75);
		cursor: default;
		text-align: center;
	}

		#footer .copyright {
			margin: 0;
			padding: 0;
			font-size: 0.9em;
			list-style: none;
		}

			#footer .copyright li {
				display: inline-block;
				margin: 0 0 0 0.45em;
				padding: 0 0 0 0.85em;
				border-left: solid 1px rgba(255, 255, 255, 0.5);
				line-height: 1;
			}

				#footer .copyright li:first-child {
					border-left: 0;
				}
/* Loader */
.no-js #loader {
	display: none;
}
.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(./projects/loader.gif) center no-repeat #fff;
	background-color: #101010;
}
