a {
	text-decoration: none;
	color: white;
	text-shadow: 2px 2px 4px transparent;
}
body {
	margin: 0;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	background-color: #101010;
	height: 100%;
	width: 100%;
	background-size: cover;
	text-align: center;
}
button {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	
}
hr {
	margin: 1% 44%;
	border-top: 2px solid #fff;
}
p {
	font-family: 'VT323', monospace;
	font-size: 1.5em;
	color: white;
	text-align: center;
	text-shadow: 2px 2px #000;
	margin: 0;
}
ul {
	padding: 0;
}
/* Classes */
.item {
	height: 360px;
	width: 260px;
	background-color: #000;
	margin: 30px;
	background-size: cover;
	cursor: pointer;
	display: inline-block;
}
.item-text {
	vertical-align: middle;
	line-height: 360px;
}
.title {
	font-size: 4em;
	margin: 50px;
	margin-bottom: 5px;
}
.subtitle {
	font-size: 2em;
	margin-bottom: 50px;
}

/* Animations */
.grow {
	transition: all .2s ease-in-out;
}
.grow:hover {
	transform: scale(1.05);
}

/* Loader */
.no-js #loader {
	display: none;
}
.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../loader.gif) center no-repeat #fff;
	background-color: #101010;
}